---
import Container from '@components/base/Container.astro'
import Posts from '@components/blog/Posts.astro'
import { getTaxonomy, getSinglePage, taxonomyFilter, sortByDate, humanize } from '@lib/utils'
import Layout from 'Layout.astro'

export async function getStaticPaths() {
	const categories = await getTaxonomy('post', 'categories')

	return categories.map((category) => ({ params: { category } }))
}

const { category } = Astro.params

const posts = await getSinglePage('post')
const filterByCategory = taxonomyFilter(posts, 'categories', category)
const sortedPosts = sortByDate(filterByCategory)

const title = humanize(category || '')
---

<Layout title={title} description={`Showing Posts From ${title}`} type="blog">
	<main class="space-y-16 overflow-clip sm:space-y-28 lg:space-y-32">
		<section class="relative min-h-screen scroll-mt-24 overflow-hidden">
			<Container>
				<div class="relative pt-24 sm:pt-40 lg:pt-44">
					<div class="pb-8 text-center">
						<h2 class="text-3xl font-semibold text-zinc-950 dark:text-white md:text-4xl">Showing Posts From {title}</h2>
					</div>
					<Posts list={sortedPosts} />
				</div>
			</Container>
		</section>
	</main>
</Layout>
