---
import Container from '@components/base/Container.astro'
import Posts from '@components/blog/Posts.astro'
import Layout from 'Layout.astro'
import { getCollection } from 'astro:content'

const projects = (await getCollection('project')).filter((project) => !project.data.draft).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Layout>
	<main class="space-y-16 overflow-clip pb-40 sm:space-y-28 lg:space-y-32">
		<section class="scroll-mt-24 text-zinc-600 dark:text-zinc-300" id="blog">
			<Container>
				<div class="relative pt-24 sm:pt-40 lg:pt-44">
					<div class="pb-8 text-center">
						<h2 class="text-3xl font-semibold text-zinc-950 dark:text-white md:text-4xl">Projects</h2>
						<p class="mt-4 text-zinc-600 dark:text-zinc-400">Things I've done and snippets I've saved</p>
					</div>

					<Posts list={projects} />
				</div>
			</Container>
		</section>
	</main>
</Layout>
