---
import { getCollection } from 'astro:content'
import { SITE } from '../lib/consts'
import Container from '@components/base/Container.astro'
import Posts from '@components/blog/Posts.astro'

const blog = (await getCollection('post'))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
	.slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<section class="scroll-mt-24 text-zinc-600 dark:text-zinc-300" id="blog">
	<Container>
		<div class="pb-8 text-center">
			<h2 class="text-3xl font-semibold text-zinc-950 dark:text-white md:text-4xl">Blog</h2>
			<p class="mt-4 text-zinc-600 dark:text-zinc-400">Check the latests things I wrote</p>
		</div>

		<Posts list={blog} />
	</Container>
</section>
