---
import { Image } from 'astro:assets'
import avatar from '../assets/avatar.png'
---

<section class="relative h-screen scroll-mt-24 overflow-hidden" id="home">
	<div class="mx-auto max-w-[90rem] px-6">
		<div class="relative pt-56 sm:pt-40 lg:pt-44 xl:pb-20 xl:pt-28">
			<div class="-right-[10%] top-44 hidden md:mt-0 lg:absolute lg:block lg:w-6/12 xl:top-24">
				<div class="relative w-full">
					<Image src={avatar} class="relative w-full" alt="Ariel's Avatar" loading="lazy" width="1024" height="1024" />
					<div class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent via-80% to-white dark:to-zinc-950"></div>
				</div>
			</div>
			<div class="relative m-auto px-6 xl:container sm:pt-24 lg:px-6">
				<h1 class="text-center text-2xl font-black text-black dark:text-white sm:mx-auto sm:w-10/12 sm:text-5xl md:w-3/4 md:text-5xl lg:w-screen lg:text-left xl:text-7xl">
					Ariel Gianatiempo <br />
					<span class="relative bg-gradient-to-r from-yellow-200 to-amber-800 bg-clip-text text-transparent dark:from-slate-400 dark:to-stone-600">Front End Developer</span>
				</h1>
				<div class="relative mt-8 space-y-8 text-center lg:text-left">
					<p class="text-md italic text-zinc-700 dark:text-zinc-300 lg:w-8/12 xl:text-3xl xl:leading-[3rem]">
						With over 17 years of honing my skills as a developer in corporate settings, I excel in designing captivating interfaces that bring vitality to your business. <br />
						Additionally, I have a talent for transforming raw data into visually appealing information, improving the user and client experience by providing added value and clarity. I am always eager
						to go the extra mile.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
