---
import Container from './base/Container.astro'
import { stack } from '../lib/consts'
import TechButton from '@components/cards/TechButton.astro'

const splitArray = (array: string[], sizes: number[]) => {
	let result: string[][] = []
	let index = 0

	sizes.forEach((size) => {
		result.push(array.slice(index, index + size))
		index += size
	})

	return result
}

const basic = splitArray(
	stack.sort(() => Math.random() - 0.5),
	[4, 4, 3, 4, 4]
)
const mini = splitArray(
	stack.sort(() => Math.random() - 0.5),
	[2, 2, 2, 2, 2, 2, 2, 2, 2, 1]
)
---

<section id="stack" class="scroll-mt-24">
	<Container>
		<div class="pb-4 text-center">
			<h2 class="text-3xl font-semibold text-zinc-950 dark:text-white md:text-4xl">Stack</h2>
			<p class="my-4 text-gray-600 dark:text-gray-400">Take a look at the tools I use the most</p>
		</div>

		<div class="relative hidden overflow-x-auto px-6 sm:mx-auto sm:block sm:px-0 2xl:mt-12">
			{
				basic.map((basicrow) => (
					<div class="mx-auto mb-3 flex w-fit gap-3 text-zinc-950 dark:text-white">
						{basicrow.map((tech) => (
							<TechButton tech={tech} invert={tech.includes('github')} />
						))}
					</div>
				))
			}
		</div>
		<div class="relative overflow-x-auto px-6 sm:mx-auto sm:hidden sm:px-0 2xl:mt-12">
			{
				mini.map((minirow) => (
					<div class="mx-auto mb-3 flex w-fit gap-3 text-zinc-950 dark:text-white">
						{minirow.map((tech) => (
							<TechButton tech={tech} invert={tech.includes('github')} />
						))}
					</div>
				))
			}
		</div>
	</Container>
</section>
