---
import Container from './base/Container.astro'
import { timeline } from '@lib/consts'
---

<section class="scroll-mt-24 text-zinc-600 dark:text-zinc-300" id="about">
	<Container>
		<div class="pb-8 text-center">
			<h2 class="text-3xl font-semibold text-zinc-950 dark:text-white md:text-4xl">Milestones</h2>
			<p class="my-4 text-zinc-600 dark:text-zinc-400">How did I get here!</p>
		</div>
		<div class="pb-12">
			{
				timeline.map((item) => (
					<div class="group relative py-6 pl-8 sm:pl-32">
						<div class="mb-1 flex flex-col items-start before:absolute before:left-2 before:h-full before:-translate-x-1/2 before:translate-y-3 before:self-start before:bg-slate-300 before:px-px after:absolute after:left-2 after:box-content after:h-2 after:w-2 after:-translate-x-1/2 after:translate-y-1.5 after:rounded-full after:border-4 after:border-slate-50 after:bg-stone-600 group-last:before:hidden sm:flex-row sm:before:left-0 sm:before:ml-28 sm:after:left-0 sm:after:ml-28">
							<time class="left-0 mb-3 inline-flex h-6 w-20 translate-y-0.5 items-center justify-center rounded-full bg-emerald-100 text-xs font-semibold uppercase text-emerald-600 sm:absolute sm:mb-0">
								{item.date}
							</time>
							<div class="text-xl font-bold text-zinc-700 dark:text-zinc-300">{item.label}</div>
						</div>
						<div class="text-zinc-700 dark:text-neutral-400">{item.description}</div>
					</div>
				))
			}
		</div>
	</Container>
</section>
